In [1]:
import os
import numpy as np
import pandas as pd
import tensorflow as tf

# read data from file
data = pd.read_csv('data/train.csv')
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None

In [3]:
# fill nan values with 0
data = data.fillna(0)
# convert ['male', 'female'] values of Sex to [1, 0]
data['Sex'] = data['Sex'].apply(lambda s: 1 if s == 'male' else 0)
# 'Survived' is the label of one class,
# add 'Deceased' as the other class
data['Deceased'] = data['Survived'].apply(lambda s: 1 - s)

# select features and labels for training
dataset_X = data[['Sex', 'Age', 'Pclass', 'SibSp', 'Parch', 'Fare']]
dataset_Y = data[['Deceased', 'Survived']]

#print(dataset_X)
print(dataset_Y)

     Deceased  Survived
0           1         0
1           0         1
2           0         1
3           0         1
4           1         0
5           1         0
6           1         0
7           1         0
8           0         1
9           0         1
10          0         1
11          0         1
12          1         0
13          1         0
14          1         0
15          0         1
16          1         0
17          0         1
18          1         0
19          0         1
20          1         0
21          0         1
22          0         1
23          0         1
24          1         0
25          0         1
26          1         0
27          1         0
28          0         1
29          1         0
..        ...       ...
861         1         0
862         0         1
863         1         0
864         1         0
865         0         1
866         0         1
867         1         0
868         1         0
869         0         1
870         1         0
871         0         1
872         1         0
873         1         0
874         0         1
875         0         1
876         1         0
877         1         0
878         1         0
879         0         1
880         0         1
881         1         0
882         1         0
883         1         0
884         1         0
885         1         0
886         1         0
887         0         1
888         1         0
889         0         1
890         1         0

[891 rows x 2 columns]

In [ ]:
dataset_X.head(3)

In [ ]:
from sklearn.model_selection import train_test_split

# split training data and validation set data
X_train, X_val, y_train, y_val = train_test_split(dataset_X.as_matrix(), dataset_Y.as_matrix(),
                                                  test_size=0.2,
                                                  random_state=42)